<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% tops.each do |top| %>
      <tr>
        <td><%= link_to top.name, top %></td>
        <td><%= top.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>