<h2>List of Ratings</h2>


<p>
  <strong>Ratings in total:</strong>
  <%= @ratings.count %>
</p>
<ul>
  <% @ratings.each do |rating| %>

      <li> <%= rating.to_s %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'are you sure?' } %></li>
  <% end %>
</ul>
<p><%= link_to 'New Rating', new_rating_path %></p>