<h1>Listing Beers</h1>

<p>Number of Beers in database: <%= @beers.count %></p>

<%= render 'list', beers: @beers %>
<br>
<%= link_to 'List of all breweries', breweries_path, class:"btn btn-default" %>
<%= link_to 'New Beer', new_beer_path, class:"btn btn-primary" %>
