<h1>Add new beer</h1>


<%= render 'form' %>

<p>Can't find your brewery or style? Add a new one:</p>
<%= link_to 'New Brewery', new_brewery_path, class:"btn btn-primary"  %> <%= link_to 'New Style', new_style_path, class: "btn btn-default" %>

